* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin-top: 80px;
  background-image: linear-gradient(to right, #e3e4e6, #e5e9ea, #e7eded, #ecf2ee, #f3f5ef);
}

.container {
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

/* Bar */
.bar {
  width: 5px;
  display: block;
  height: 500px;
  background-color: #082032;
  position: relative;
  border-radius: 20px 20px 0 0;
}

/* Flag */
.flag {
  width: 190px;
  margin-top: 10px;
  margin-left: 5px;
  animation: up 20s forwards;
}

.red {
  width: 200px;
  background-color: #f00;
  display: block;
  height: 60px;
}

.white {
  width: 200px;
  background-color: #fff;
  display: block;
  height: 60px;
}

/* Blocks */
.blocks {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block-1 {
  width: 150px;
  height: 50px;
  border-radius: 10px 10px 0 0;
  background-color: #082032;
  display: block;
}

.block-2 {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 5px 5px;
  background-color: #2c394b;
  display: block;
  position: relative;
  top: -10px;
}

/* Logo */
.logo img {
  width: 200px;
  position: absolute;
  top: 0;
  left: 5px;
  animation: show 10s forwards;
}

/* Animation */
@keyframes up {
  0% {
    transform: translateY(350px);
  }

  100% {
    transform: translateY(-2px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}